<div id="stalker">
  {% if site.data.theme.social.github %}
  <a title="{{ site.data.theme.social.github }} on Github" href="https://github.com/{{ site.data.theme.social.github }}">
    <i class="fa fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.twitter %}
  <a title="{{ site.data.theme.social.twitter }} on Twitter" href="https://twitter.com/{{ site.data.theme.social.twitter }}">
    <i class="fa fa-twitter-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.show_atom_feed %}
  <a title="Atom feed" id="atom" href="/atom.xml">
    <i class="fa fa-rss-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.goodreads %}
  <a title="{{ site.data.theme.social.goodreads }} on Goodreads" href="https://goodreads.com/user/show/{{ site.data.theme.social.goodreads }}">
    <i class="fab fa-goodreads"></i>
    <!-- <img src="/goodreads-brands.svg"/> -->
  </a>
  {% endif %}
</div>
